.footer{
    $this: &;

    max-width: 1920px;
    min-height: 566px;
    background: var(--gray900);
    margin: 0px auto;
    
    &-top__content{
        padding-top: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &-left__top{
        display: flex;
    }

    &-icons__cover{
        margin-left: 62px;

        ul{
            display: flex;

            li:not(:last-child){
                margin-right: 20px;
            }
        }
    }

    &-left{
        .regular-small__text{
            color: var(--white);
            opacity: 0.6;
            width: 494px;
            max-width: 494px;
            margin-top: 26px;
            margin-right: 242px;
        }
    }

    &-main__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: var(--white);
    }
}

.footer-right{
    .footer-form{
        margin-top: 24px;

        .default-light__input{
            height: 44px;
            width: 496px;
            background: rgba(255, 255, 255, 0.12);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            position: absolute;
            padding:10px;
        }
        
        .solid-regular__button{
            max-width: 132px;
            height: 44px;
            border-radius: 0px 4px 4px 0px;
            margin: 0px;
            position: relative;
            right: -364px;
        }
    }

    .extra-small__text{
        opacity: 0.6;
        max-width: 496px;
        margin-top: 16px;
    }
}

.extra-small__text{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--white);
}

.footer-bottom__content{
    margin-top: 74px;
    @include display-center();

    :not(:last-child){
        margin-right: 124px;
    }

    .footer-bottom__title{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    p{
        margin: 0px;
    }

    a{
        text-decoration: none;
        color: var(--gray700);
    }

    .head-office{
        p{
            color: var(--white);
            max-width: 338px;
        }
    }

    li{
        margin-top: 4px;
    }
}   

.copyright{
    @include display-center();

    p{
        margin-right: 828px;
        margin-top: 60px;
    }

    .up{
        display: flex;
        align-items: flex-end;

        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: var(--white);
            text-transform: uppercase;
            margin-right: 16px;
        }

        .up-cover{
            position: relative;

            .up-stroke{
                position: absolute;
                left: 8px;
                top: 8px;
            }
        }
    }
}
